<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806164663869-sdnnv1edqj30ocgumbsodhn0ubkn83j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806164663869-sdnnv1edqj30ocgumbsodhn0ubkn83j2</string>
	<key>API_KEY</key>
	<string>AIzaSyApNt37kcPUHklpwlH6x_43o2xZG2sS89g</string>
	<key>GCM_SENDER_ID</key>
	<string>806164663869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.app.firebaseAnalyticsDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-analytics-demo-2f7fa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-analytics-demo-2f7fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806164663869:ios:b11144f606856d66a02454</string>
</dict>
</plist>